<html>
  <head>
  <script src="static/javascript/lab_javascript.js"></script>
  <link rel="stylesheet" href="static/css/lab_javascript.css">
  </head>
  <body>
    <center>
      <div id="section">
        <h1 id="result">Type the Following text:</h1> 
        <h3 id="level">Easy</h3>
          <strong id="goal">CS 3308</strong>
        <p id="userinput"></p>
        <button id="restartButton">Restart</button>
      </div>
      <div>
        <center><p id="timing"></p></center> 
      </div>
    </center>
  </body>
</html>


