<html>
  <body>
  </body>
  <h1>About</h1>
  <h3>Cyro Estevao Freire de Lima</h3>
  <h3>CU id: cyfr7595</h3>
  <h3>GitHub: CyroEstevao</h3>
  <h3>Hours: 11 hours</h3>

  <h4> For this assignment I implement: </h4>
  <ul>
    <li>Next Challenge Button</li>
    <li>Added extra challenges</li>
    <li>Added restart button</li>
    <li>Added some styles to the page and buttons (border, font, color, layout, button design)</li>
    <li>Highlights user input when they type incorrectly and keeps the highlight on until the typo is corrected</li>
    <li>Handles regular use of keys (space, enter, backspace)</li>
    <li>Timer that restarts after every challenge</li>
    <li>Added a flag to not allow to type after a challenge is completed</li>
    <li>Created a final screen</li>

  </ul>

</html>